In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocessing the data
## Dropping irrelevant columns
data= data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [5]:
## Encoding Categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']= label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data['Gender'].value_counts()

1    5457
0    4543
Name: Gender, dtype: int64

In [7]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [8]:
## OneHot Encode Geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [9]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
## joining onehot encoded with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [13]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [14]:
## Divide dataset into dependent and independent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## splitting the data into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## scaling features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [15]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [16]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [17]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [19]:
(X_train.shape[1],)

(12,)

In [20]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid') ## output layer
])

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [22]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()
loss

In [23]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [34]:
## set up the Tensorboard
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [28]:
## set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [29]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 3s 10ms/step - loss: 0.3428 - accuracy: 0.8602 - val_loss: 0.3452 - val_accuracy: 0.8620
Epoch 2/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3423 - accuracy: 0.8579 - val_loss: 0.3635 - val_accuracy: 0.8570
Epoch 3/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3358 - accuracy: 0.8627 - val_loss: 0.3432 - val_accuracy: 0.8560
Epoch 4/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3356 - accuracy: 0.8619 - val_loss: 0.3420 - val_accuracy: 0.8645
Epoch 5/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3312 - accuracy: 0.8654 - val_loss: 0.3469 - val_accuracy: 0.8590
Epoch 6/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3263 - accuracy: 0.8664 - val_loss: 0.3413 - val_accuracy: 0.8625
Epoch 7/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3284 - accuracy: 0.8650 - val_loss: 0.3518 - val_accuracy: 0.8565
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3237 - accuracy: 0.8680 - val_loss: 0.3475 - val_accuracy: 0.8555
Epoch 9/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3189 - accuracy: 0.8673 - val_loss: 0.3512 - val_accuracy: 0.8595
Epoch 10/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3187 - accuracy: 0.8704 - val_loss: 0.3636 - val_accuracy: 0.8560
Epoch 11/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3183 - accuracy: 0.8700 - val_loss: 0.3462 - val_accuracy: 0.8535
Epoch 12/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3121 - accuracy: 0.8726 - val_loss: 0.3547 - val_accuracy: 0.8580
Epoch 13/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3122 - accuracy: 0.8742 - val_loss: 0.3511 - val_accuracy: 0.8640
Epoch 14/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3113 - accuracy: 0.8733 - val_loss: 0.3583 - val_accuracy: 0.8550
Epoch 15/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3067 - accuracy: 0.8746 - val_loss: 0.3592 - val_accuracy: 0.8550
Epoch 16/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3055 - accuracy: 0.8746 - val_loss: 0.3553 - val_accuracy: 0.8605

In [30]:
model.save('model.h5')

In [31]:
## load tensorboard extension
%load_ext tensorboard

In [36]:
%tensorboard --logdir logs/fit --reload_interval 60

Reusing TensorBoard on port 6007 (pid 5680), started 21:57:38 ago. (Use '!kill 5680' to kill it.)